@font-face {
    font-family: 'Verlag';
    src: url('Verlag-Black.woff2') format('woff2'),
        url('Verlag-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

